<nav class="navbar navbar-dark default-color col-12"
    style="margin:0 auto; background-color:lightskyblue; margin-bottom:5px">

    <img src="../../../assets/img/50.png" (click)="gotoMuro()">
    <nav class="navbar navbar-expand-sm bg-lightskyblue">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" (click)="gotoHome()">Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" (click)="gotoMuro()">Muro</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" (click)="logOut()">Logout</button>
            </li>
        </ul>
    </nav>
    <form class="form-inline my-2 my-lg-0 ml-auto" [formGroup]="headForm">
        <select formControlName="select" class="form-control">
            <option name="name" value="name" selected="selected" ng-selected>Nombre</option>
            <option name="address" value="address">Direccion</option>
            <option name="job" value="job">Trabajo</option>
        </select>
        <input class="form-control" formControlName="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit" [disabled]="!headForm.valid"
            (click)="search()">Search</button>
    </form>
</nav>