<div class="container">

    <nav class="navbar navbar-dark default-color col-12">
        <!--<div class="col-1 col-md-1 col-lg-1">
        
    </div>-->
        <!--<nav class="navbar navbar-expand-sm bg-lightskyblue col-md-3 col-lg-2 col-12">
        <ul class="navbar-nav row col-12">
            <li class="nav-item col-2">
                <img src="../../../assets/img/50.png" (click)="gotoMuro()">
                <button class="btn btn-outline-white btn-md ml-3" (click)="gotoHome()">Home</button>
            </li>
            <li class="nav-item col-5">
                <button class="btn btn-outline-white btn-md ml-3 " (click)="gotoMuro()">Muro</button>
            </li>
            <li class="nav-item col-5">
                <button class="btn btn-outline-white btn-md ml-3 col-2" (click)="logOut()">Logout</button>
            </li>
        </ul>
    </nav>-->
        <div class="row col-1 col-md-1 menu">
            <img src="../../../assets/img/50.png" (click)="gotoMuro()">
        </div>
        <div class="col-2 offset-9 col-md-4 offset-md-0 menu row">
            <i class="fa fa-bars float-right menuHead fa-3x col-12 d-md-none" (click)="openMenu()"
                aria-hidden="true"></i>
            <div class="menuBotones row col-12 p-0 m-0" [ngClass]="{ 'noHidden' : menuAux }">
                <button class="btn btn-outline-white btn-md col-12 col-md-3 text-center"
                    (click)="gotoHome()">Home</button>
                <button class="btn btn-outline-white btn-md col-12 text-center col-md-3"
                    (click)="gotoMuro()">Muro</button>
                <button class="btn btn-outline-white btn-md col-12 text-center col-md-3"
                    (click)="logOut()">Logout</button>
            </div>
        </div>
        <form class="form-inline col-12 col-md-offset-0 col-md-7 col-lg-5 col-lg-offset-4 ml-auto"
            [formGroup]="headForm">
            <select formControlName="select" class="form-control col-3">
                <option name="name" value="username" selected="selected" ng-selected>Nombre</option>
                <option name="email" value="email">Email</option>
                <option name="username" value="username">Username</option>
            </select>
            <input class="form-control  col-6" formControlName="search" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-white btn-md my-2 my-sm-0 col-3" type="submit" [disabled]="!headForm.valid"
                (click)="search()">Search</button>
        </form>
    </nav>

</div>