<div class="Site">
    <!--<div class="row">
        <app-header class="col-12 header"></app-header>
    </div>-->
    <div class="row px-2">
        <!--  Site-content -->
        <div class="col-12 col-lg-9">
            <h2 class="justify-content-center">Lista de Posts</h2>
            <hr>
            <h3 *ngIf="listaPost?.length == 0">Vacio</h3>
            <div class="col-md-12" *ngFor="let post of listaPost">
                <app-post [post]="post"></app-post>
                <hr>
            </div>
        </div>
        <div class="col-12 col-lg-3 d-lg-inline-block d-none">

            <div class="col-12">
                <h4 class="justify-content-center d-block">Usuarios Seguidos</h4>
                <h5 *ngIf="lista?.length == 0">No sigues a ningún usuario</h5>
                <div *ngIf="lista?.length > 0" class="alinear">
                    <div class=" justify-content-center">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="lista?.length">
                        </ngb-pagination>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            *ngFor="let list of lista | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            Username :
                            {{list?.username}}
                            <button (click)="open(content,list._id)" class="btn btn-primary float-right">Ver
                                más</button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Detalles de {{detalles?.name}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="divtabla">
                    <table>
                        <tr>
                            <th class="text-center"><label>Nombre</label></th>
                            <td>{{detalles?.name}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center"><label>Usuario</label></th>
                            <td>
                                {{detalles?.username}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center"><label>Email</label></th>
                            <td>
                                {{detalles?.email}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center"><label>Dirección</label></th>
                            <td>
                                {{detalles?.address}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center"><label>Trabajo</label></th>
                            <td>
                                {{detalles?.job}}
                            </td>
                        </tr>

                    </table>
                    <hr>
                    <div *ngIf="listasPost.length > 0">
                        <h4>Lista de Posts</h4>
                        <div class="col-md-12 blogShort"
                            *ngFor="let post of listasPost | slice: (page2-1) * pageSize2 : (page2-1) * pageSize2 + pageSize2">
                            <app-post [post]="post"></app-post>
                        </div>
                        <div class=" justify-content-center">
                            <ngb-pagination [(page)]="page2" [pageSize]="pageSize2"
                                [collectionSize]="listasPost?.length">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
    <app-footer></app-footer>
</div>