 .container {
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 20px;
 }

 .blogShort{ border-bottom:1px solid #ddd;}


 .justify-content-center {
    display: flex !important;
    justify-content: center !important;
}