<app-header></app-header>
<div class="container">
    <div class="flex-item">
        <div class="col-md-10 blogShort" *ngFor="let post of listaPost">
            <h3>{{post?.title}}</h3>
            <article>
                <p>
                    {{post?.content}}
                </p>
            </article>
            <span class="align-right">Escrito por {{post?.creator}}</span>
        </div>
    </div>
    <div class="flex-item">

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <button (click)="swap()"
                    class="btn btn-primary">{{pocos === true ? 'Ver menos usuarios' :  'Ver todos los usuarios'}}</button>
            </div>
            <ul class="list-group list-group-flush" *ngIf="!pocos">
                <li class="list-group-item" *ngFor="let list of lista | slice:0:5">Username : {{list?.username}}
                    <button (click)="open(content,list._id)" class="btn btn-primary float-right">Ver más</button>
                </li>
            </ul>
            <ul class="list-group list-group-flush" *ngIf="pocos">
                <li class="list-group-item" *ngFor="let list of lista">Username : {{list?.username}}
                    <button (click)="open(content,list._id)" class="btn btn-primary float-right">Ver más</button>
                </li>
            </ul>
        </div>





        <!--<div class="col-12" style="margin: 0 auto">
            <button (click)="swap()"
                class="btn btn-primary">{{pocos === true ? 'Ver menos usuarios' :  'Ver todos los usuarios'}}</button>
        </div>
        <div class="col-12">
            <div *ngIf="!pocos">
                <div class="card col-12" style="margin:0 auto" *ngFor="let list of lista | slice:0:5">
                    <div class="card-body">
                        <h5 class="card-title">Username : {{list?.username}}</h5>
                        <h5 class="card-title">Name : {{list?.name}}</h5>
                        <button (click)="open(content,list._id)" class="btn btn-primary float-right">Ver más</button>
                    </div>
                </div>
            </div>
            <div *ngIf="pocos">
                <div class="card col-12" style="margin:0 auto" *ngFor="let lis of lista">
                    <div class="card-body">
                        <h5 class="card-title">Username : {{lis?.username}}</h5>
                        <h5 class="card-title">Name : {{lis?.name}}</h5>
                        <button (click)="open(content,lis._id)" class="btn btn-primary float-right">Ver más</button>
                    </div>
                </div>
            </div>
        </div>-->
    </div>



    <app-footer></app-footer>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Detalles de {{detalles?.name}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="divtabla">
                <table>
                    <tr>
                        <th class="text-center"><label>Nombre</label></th>
                        <td>{{detalles?.name}}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center"><label>Usuario</label></th>
                        <td>
                            {{detalles?.username}}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center"><label>Email</label></th>
                        <td>
                            {{detalles?.email}}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center"><label>Dirección</label></th>
                        <td>
                            {{detalles?.address}}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center"><label>Trabajo</label></th>
                        <td>
                            {{detalles?.job}}
                        </td>
                    </tr>

                </table>
                <div class="col-md-10 blogShort" *ngFor="let post of listasPost">
                    <h3>{{post?.title}}</h3>
                    <article>
                        <p>
                            {{post?.content}}
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </ng-template>

</div>