<div class="Site">
    <app-header></app-header>

    <div class="Site-content">
        <table *ngIf="users?.length > 0; else vacio" class="col-9 table text-center" style="margin: 0 auto">
            <tr>
                <th class="w-25">
                    Nombre
                </th>
                <th class="w-25">
                    Dirección
                </th>
                <th class="w-25">
                    Trabajo
                </th>
                <th class="w-25">
                    Actions
                </th>
            </tr>
            <tr *ngFor="let user of users| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" app-follow
                [user]="user"></tr>
        </table>
        <div class=" justify-content-center">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="users?.length"></ngb-pagination>
        </div>
        <ng-template #vacio>
            <div>
                No se ha encontrado ningún resultado.
            </div>
        </ng-template>
    </div>
    <app-footer></app-footer>
</div>